<mat-card class="campus">
  <mat-card-content>
    <h3 class="campus-header">Select Campus:</h3>
    <ul id="list-cover">
      <li id="list"><mat-checkbox [(ngModel)]="this.serviceWrite.sylvania">Sylvania</mat-checkbox></li>
      <li id="list"><mat-checkbox [(ngModel)]="this.serviceWrite.rockCreek">Rock Creek</mat-checkbox></li>
      <li id="list"><mat-checkbox [(ngModel)]="this.serviceWrite.cascade">Cascade</mat-checkbox></li>
      <li id="list"><mat-checkbox [(ngModel)]="this.serviceWrite.southeast">Southeast</mat-checkbox></li>    
    </ul>
  </mat-card-content>
</mat-card>